#scrollableCoords {
    height: 300px;
    overflow: auto;
    background-color: white;
	margin-top: 10px;
}

#fieldsetId .mat-form-field-infix {
	width:auto;
}

.boolean-value-input {
    padding-left: 5px;
	align-items: start;
    justify-content: center;
	color: rgba(0,0,0,0.54);
}

.mat-checkbox-label {
    color: rgba(0,0,0,0.54);
}

#mat-dialog-content, fieldset {
	padding-top: 0px;
}

<form #editDeviceForm="ngForm" [formGroup]="editDeviceFormGroup"
      (ngSubmit)="save()" style="width: 480px;">
  <mat-toolbar fxLayout="row" color="primary">
    <h2>Add Charger</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="(isLoading$ | async) || loading">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async) && !loading"></div>
  <div id="mat-dialog-content" mat-dialog-content>
			<fieldset id="fieldsetId" [disabled]="(isLoading$ | async) || loading" class="mat-padding">
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Organization</mat-label>
						<mat-select formControlName="customer"  [compareWith]="compareObjects" (selectionChange)='onCustomerChange()' required>
							<mat-option></mat-option>
							<mat-option *ngFor="let customer of customers" [value]="customer">
							{{customer.title}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="editDeviceFormGroup.get('customer').hasError('required')">
						Organization is required.
						</mat-error>
					</mat-form-field>
					
					<mat-form-field formGroupName="sharedAttributes" fxFlex="50" class="mat-block">
						<mat-label>Manufacturer ID</mat-label>
						<input matInput formControlName="manufacturerId" required (keyup)="onManufacturerIdKeyUp()">
							<mat-error *ngIf="editDeviceFormGroup.get('sharedAttributes').get('manufacturerId').hasError('required')">
								Manufacturer ID is required.
							</mat-error>
					</mat-form-field>
				</div>
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Device Name</mat-label>
						<input matInput formControlName="deviceName" required>
						<mat-error *ngIf="editDeviceFormGroup.get('deviceName').hasError('required')">
							Device Name is required.
						</mat-error>
					</mat-form-field>
					
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Charger description</mat-label>
						<input matInput formControlName="deviceLabel" required maxlength="25">
						<mat-error *ngIf="editDeviceFormGroup.get('deviceLabel').hasError('required')">
							Charger description is required.
						</mat-error>
					</mat-form-field>
				</div>
				
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<tb-entity-subtype-autocomplete
						fxFlex="50"
						formControlName="deviceType"
						[required]="true"
						[entityType]="'DEVICE'"
					></tb-entity-subtype-autocomplete>
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Device Group</mat-label>
						<input matInput formControlName="deviceGroup">
					</mat-form-field>
				</div>
				
				<div formGroupName="sharedAttributes" fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Charger vendor name</mat-label>
						<input matInput formControlName="chargePointVendor">
					</mat-form-field>
					
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Charger model name</mat-label>
						<input matInput formControlName="chargePointModel">
					</mat-form-field>
				</div>
				
				<div formGroupName="sharedAttributes" fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Charge point serial number</mat-label>
						<input matInput formControlName="chargePointSerialNumber">
					</mat-form-field>
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Power capacity (kW)</mat-label>
						<input matInput type="number" step="1" formControlName="powerCapacity">
					</mat-form-field>
				</div>
				
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block" formGroupName="attributes">
						<mat-label>Node ID</mat-label>
						<input matInput formControlName="nodeId" required>
						<mat-error *ngIf="editDeviceFormGroup.get('attributes').get('nodeId').hasError('required')">
							Node ID is required.
						</mat-error>
					</mat-form-field>
					<div class="boolean-value-input" fxLayout="column" fxFlex="50"  formGroupName="sharedAttributes">
						<mat-checkbox formControlName="enabled">Enabled</mat-checkbox>
					</div>

				</div>
				
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="100" class="mat-block">
						<mat-label>Site</mat-label>
						<mat-select formControlName="site" [compareWith]="compareObjects"
						required>
							<mat-option></mat-option>
							<mat-option *ngFor="let site of sites" [value]="site">
							{{site.name}}
						  </mat-option>
						</mat-select>
						<mat-error *ngIf="editDeviceFormGroup.get('site').hasError('required')">
							Site is required.
						</mat-error>
					</mat-form-field>
					<mat-form-field fxFlex="100" class="mat-block" formGroupName="attributes">
						<mat-label>SN Charger ID</mat-label>
						<input matInput formControlName="snChargerId">
					</mat-form-field>
				</div>
				
				<div formGroupName="sharedAttributes" fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="100" class="mat-block">
						<mat-label>Registration status</mat-label>
						<mat-select formControlName="registrationStatus" [compareWith]="compareStrings"
						required>
							<mat-option></mat-option>
							<mat-option *ngFor="let status of registrationStatusList" [value]="status">
							{{status}}
						  </mat-option>
						</mat-select>
						<mat-error *ngIf="editDeviceFormGroup.get('sharedAttributes').get('registrationStatus').hasError('required')">
							Registration status is required.
						</mat-error>
					</mat-form-field>
				</div>
			</fieldset>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button mat-button mat-raised-button color="primary"
            type="submit"
            [disabled]="loading || (isLoading$ | async) || editDeviceForm.invalid || !editDeviceForm.dirty">
      Save
    </button>
    <button mat-button color="primary"
            style="margin-right: 20px;"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      Cancel
    </button>
  </div>
</form>

let $injector = widgetContext.$scope.$injector;
let customDialog = $injector.get(widgetContext.servicesMap.get('customDialog'));
let deviceService = $injector.get(widgetContext.servicesMap.get('deviceService'));
let attributeService = $injector.get(widgetContext.servicesMap.get('attributeService'));
let entityRelationService = $injector.get(widgetContext.servicesMap.get('entityRelationService'));
let assetService = $injector.get(widgetContext.servicesMap.get('assetService'));
let customerService = $injector.get(widgetContext.servicesMap.get('customerService'));
let http = $injector.get(widgetContext.servicesMap.get('http'));
let entityGroupService = $injector.get(widgetContext.servicesMap.get('entityGroupService'));

openEditDeviceDialog();

function openEditDeviceDialog() {
    customDialog.customDialog(htmlTemplate, EditDeviceDialogController).subscribe();
}

function EditDeviceDialogController(instance) {
    let vm = instance;
    vm.loading = false;
	vm.allowedEntityTypes = ["ASSET", "DEVICE"];
	vm.relations = [];
	vm.sites = [];
	vm.registrationStatusList = ['Unknown',  'Pending', 'Accepted', 'Rejected'];
	vm.customers = [];
	vm.deviceType = 'evcharger';
	vm.entityType = 'DEVICE';
	vm.entityGroup = "evchargers";
	
	vm.editDeviceFormGroup = vm.fb.group({
	  customer: [null, [vm.validators.required]],
      deviceName: [null, [vm.validators.required]],
      deviceLabel: [null, [vm.validators.required]],
	  deviceType: [{value:vm.deviceType, disabled:true}],
	  deviceGroup: [{value:vm.entityGroup, disabled:true}],
	  snChargerId: [null],
	  site: [null, [vm.validators.required]],
      attributes: vm.fb.group({
		  relatedSiteName: ["null"],
		  nodeId: [null, [vm.validators.required]],
		  snChargerId: [{value:null, disabled:true}],
      }),
	  sharedAttributes: vm.fb.group({
		manufacturerId: [null, [vm.validators.required]],
		chargePointVendor: [null],
		chargePointModel: [null],
		chargePointSerialNumber: [null],
		powerCapacity: [null],
		enabled: [null],
		registrationStatus: [null, [vm.validators.required]],
      })
    });
	
	
	getCustomerOptions();

    function getCustomerOptions() {
		http.get("/api/permissions/allowedPermissions").subscribe((res) => {
			if (res.userOwnerId.entityType == "TENANT"){
				customerService.getCustomers({toQuery:function(){return "?pageSize=100&page=0";}}).subscribe(
				(data) => {
					vm.customers = data.data;
				});
			} else {
				customerService.getCustomersByIds([res.userOwnerId.id]).subscribe((res)=> {
					vm.customers.push(res[0]);
				});
			}
		 });
    }
	
	vm.compareSite = (o1, o2) => {
		return ((o1)?(o1?.id?.id == o2?.id?.id) : (o1==o2));
	}
	
	vm.compareStrings = (o1, o2) => {
		return (o1 == o2);
	};
	
	vm.compareObjects = (o1, o2) => {
		return ((o1)?(o1?.id?.id == o2?.id?.id) : (o1==o2));
	};
    
	vm.displayCustomerFn = function(customer) {
		return (customer)?customer.title:"";
	}
	
	vm.onManufacturerIdKeyUp = function() {
		if (vm.editDeviceFormGroup) {
			var manufacturerId = 			vm.editDeviceFormGroup.get("sharedAttributes").get("manufacturerId").value;
			var customer = vm.editDeviceFormGroup.get("customer").value;
			var newDeviceName = !!manufacturerId && !!customer
				? customer.title + '_' + manufacturerId
				: '';
			vm.editDeviceFormGroup.patchValue({deviceName:newDeviceName});
		}
    }
    vm.onManufacturerIdKeyUp();
    
	vm.onCustomerChange = function() {
        vm.onManufacturerIdKeyUp();
		var customer = vm.editDeviceFormGroup.get("customer").value;
		if (customer) {
			assetService.getCustomerAssets(customer.id.id, {toQuery:function(){return "?pageSize=100&page=0";}}, 'Site').subscribe(
				(data) => {
					vm.sites = data.data;
				}
			);
		} else {
			vm.sites = [];
			vm.editDeviceFormGroup.patchValue({site:null})
		}
    }
	
    vm.save = () => {
		vm.loading = true;

		vm.editDeviceFormGroup.markAsPristine();
		saveEntityObservable().subscribe(
            (entity) => {
				addRelation(
                        "TO",
                        'located at',
                        vm.editDeviceFormGroup.get("site").value
                        );
                addRelation(
                        "TO",
                        'belongs to',
                        vm.editDeviceFormGroup.get("customer").value
                        );
				widgetContext.rxjs.forkJoin([
					saveGroup(),
					saveAttributes(entity.id),
					saveSharedAttributes(entity.id),
					saveRelations(entity.id)
				]).subscribe((res)=>{
					let finishCallback = function(){
						widgetContext.updateAliases();
						vm.dialogRef.close(null);
					}
					
					var groupRes = res[0];
					var groupId = groupRes.find((group)=>{return group.name==vm.entityGroup})?.id?.id;
					if (groupId) {
						entityGroupService.addEntityToEntityGroup(groupId, entity.id.id).subscribe(()=> {
							finishCallback();
						});
					} else {
						widgetContext.showInfoToast("Group '" + vm.entityGroup + "' not found. Saving under 'All'.");
						finishCallback();
					}
				});
            }
        );
    }
   
    
    vm.cancel = function() {
        vm.dialogRef.close(null);
    };
	
	function addRelation(direction, relationType, relatedEntity) {
        if (!!relatedEntity) {
            var relation = {
                direction: direction,
                relationType: relationType, 
                relatedEntity: relatedEntity.id
            };
            vm.relations.push(relation);
        }
    }
	
	function saveEntityObservable() {
        var entity = {
			'name':vm.editDeviceFormGroup.get("deviceName").value,
			'label':vm.editDeviceFormGroup.get("deviceLabel").value,
			'type':vm.deviceType
		};
		vm.device;
        entity['customerId'] = vm.editDeviceFormGroup.get("customer").value.id;
        if (vm.entityType == "ASSET") {
            return assetService.saveAsset(entity);
        } else if (vm.entityType == "DEVICE") {
            return deviceService.saveDevice(entity);
        }
    }
	
	function saveGroup() {
		var customerId = vm.editDeviceFormGroup.get("customer").value.id.id;
		return entityGroupService.getEntityGroupsByOwnerId("CUSTOMER", customerId,"DEVICE");
	}
	
	function saveAttributes(entityId) {
		vm.editDeviceFormGroup.patchValue({attributes:{
			relatedSiteName: vm.editDeviceFormGroup.get('site').value.name
		}});
	
	    let attributes = vm.editDeviceFormGroup.get('attributes').value;
        let attributesArray = [];
        for (let key in attributes) {
            attributesArray.push({key: key, value: attributes[key]});
        } 
		
        if (attributesArray.length > 0) {
            return attributeService.saveEntityAttributes(entityId, "SERVER_SCOPE", attributesArray);
        }  else {
            return widgetContext.rxjs.of([]);
        }
    }
	
	function saveSharedAttributes(entityId) {
	    let attributes = vm.editDeviceFormGroup.get('sharedAttributes').value;
        let attributesArray = [];
        for (let key in attributes) {
            attributesArray.push({key: key, value: attributes[key]});
        } 
		
        if (attributesArray.length > 0) {
            return attributeService.saveEntityAttributes(entityId, "SHARED_SCOPE", attributesArray);
        }  else {
            return widgetContext.rxjs.of([]);
        }
    }
	
	function saveRelations(entityId) {
        var tasks = [];
        for (var i=0; i < vm.relations.length; i++) {
            var relation = {
                type: vm.relations[i].relationType
            };
            if (vm.relations[i].direction == "FROM") {
                relation.to = vm.relations[i].relatedEntity;
                relation.from = entityId;
            } else {
                relation.to = entityId;
                relation.from = vm.relations[i].relatedEntity;
            }
            tasks.push(entityRelationService.saveRelation(relation));
        }
        return widgetContext.rxjs.forkJoin(tasks);
    }
}





