#scrollableCoords {
height: 300px;
overflow: auto;
background-color: white;
margin-top: 10px;
}

#fieldsetId .mat-form-field-infix {
width:auto;
}

.coordLabel {
flex: 0 0 auto;
margin-right: 20px !important;
align-self: center;
padding-bottom: 7px;
}

.removeCoordBtn {
height: 50%;
flex: 0 0 auto;
margin-top: 6px;
padding-bottom: 9px !important;
padding-top: 9px !important;
}

#mat-dialog-content {
	padding-top: 0px;
}

.boolean-value-input {
	margin-bottom: 8px;
}

.notifications{
	border-width: 2px;
	border-style: groove;
	border-color: threedface;
	border-radius: 10px;
	padding: 20px;
    margin-bottom: 20px;
}

.notifications_legend{
	margin-left: 10px;
}

<form #editDeviceForm="ngForm" [formGroup]="editDeviceFormGroup" (ngSubmit)="save()" style="width: 480px;">
	<mat-toolbar fxLayout="row" color="primary">
		<h2>Add Site</h2>
		<span fxFlex></span>
		<button mat-button mat-icon-button (click)="cancel()" type="button">
			<mat-icon class="material-icons">close</mat-icon>
		</button>
	</mat-toolbar>
	<mat-progress-bar color="warn" mode="indeterminate" *ngIf="(isLoading$ | async) || loading">
	</mat-progress-bar>
	<div style="height: 4px;" *ngIf="!(isLoading$ | async) && !loading"></div>
	<div id="mat-dialog-content" mat-dialog-content>
		<fieldset id="fieldsetId" [disabled]="(isLoading$ | async) || loading" class="mat-padding">
			<div fxFlex fxLayout="row" fxLayoutGap="8px">
				<mat-form-field fxFlex="50" class="mat-block">
					<mat-label>Organization</mat-label>
					<mat-select formControlName="customer" [compareWith]="compareObjects"
						(selectionChange)='onCustomerChange()' required>
						<mat-option></mat-option>
						<mat-option *ngFor="let customer of customers" [value]="customer">
							{{customer.title}}
						</mat-option>
					</mat-select>
					<mat-error *ngIf="editDeviceFormGroup.get('customer').hasError('required')">
						Organization is required.
					</mat-error>
				</mat-form-field>
			</div>
			<div fxFlex fxLayout="row" fxLayoutGap="8px">
				<mat-form-field fxFlex="50" class="mat-block">
					<mat-label>Site Name</mat-label>
					<input matInput formControlName="entityName" required>
					<mat-error *ngIf="editDeviceFormGroup.get('entityName').hasError('required')">
						Site Name is required.
					</mat-error>
				</mat-form-field>

				<mat-form-field fxFlex="50" class="mat-block">
					<mat-label>Site Label</mat-label>
					<input matInput formControlName="entityLabel">
				</mat-form-field>
			</div>

			<div formGroupName="attributes" fxFlex fxLayout="row" fxLayoutGap="8px">
				<mat-form-field fxFlex="50" class="mat-block">
					<mat-label>Latitude</mat-label>
					<input type="number" step="any" matInput formControlName="latitude">
				</mat-form-field>
				<mat-form-field fxFlex="50" class="mat-block">
					<mat-label>Longitude</mat-label>
					<input type="number" step="any" matInput formControlName="longitude">
				</mat-form-field>
			</div>

			<div formGroupName="attributes" fxFlex fxLayout="row" fxLayoutGap="8px">
				<mat-form-field fxFlex="100" class="mat-block">
					<mat-label>Contact Name</mat-label>
					<input matInput formControlName="contactName">
				</mat-form-field>
			</div>

			<div formGroupName="attributes" fxFlex fxLayout="row" fxLayoutGap="8px">
				<mat-form-field fxFlex="50" class="mat-block">
					<mat-label>Contact Email</mat-label>
					<input matInput formControlName="contactEmail">
				</mat-form-field>
				<mat-form-field fxFlex="50" class="mat-block">
					<mat-label>Contact Phone</mat-label>
					<input matInput formControlName="contactPhone">
				</mat-form-field>
			</div>

			<div formGroupName="attributes" fxFlex fxLayout="row" fxLayoutGap="8px">
				<mat-form-field fxFlex="100" class="mat-block">
					<mat-label>Address</mat-label>
					<input matInput formControlName="address">
				</mat-form-field>
			</div>
			<div formGroupName="attributes" fxFlex fxLayout="row" fxLayoutGap="8px">
				<mat-form-field fxFlex="100" class="mat-block">
					<mat-label>Speed Limit</mat-label>
					<input matInput formControlName="speedLimit" type="number" step="any">
				</mat-form-field>
			</div>
			<div formGroupName="attributes" fxFlex fxLayout="row" fxLayoutGap="8px">
				<mat-form-field fxFlex="100" class="mat-block">
					<mat-label>Site Map URL</mat-label>
					<input matInput formControlName="siteMapUrl">
				</mat-form-field>
			</div>


			<fieldset fxFlex class="notifications" formGroupName="attributes">
				<legend class="notifications_legend">Alarm settings</legend>
				<div fxFlex fxLayout="row" fxLayoutGap="8px" style="margin-bottom: 10px">
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Email</mat-label>
						<input matInput formControlName="email" type="email">
					</mat-form-field>
					<div fxFlex="50" fxLayout="column" class="boolean-value-input">
						<mat-checkbox fxFlex="50" formControlName="emailEntryExitEnabled">Geofence Entry/Exit
						</mat-checkbox>
						<mat-checkbox fxFlex="50" formControlName="emailSpeedEnabled">Geofence Speeding</mat-checkbox>
					</div>
				</div>
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Phone</mat-label>
						<input matInput formControlName="phone">
					</mat-form-field>
					<div fxFlex="50" fxLayout="column" class="boolean-value-input">
						<mat-checkbox fxFlex="50" formControlName="phoneEntryExitEnabled">Geofence Entry/Exit</mat-checkbox>
						<mat-checkbox fxFlex="50" formControlName="phoneSpeedEnabled">Geofence Speeding</mat-checkbox>
					</div>
				</div>
			</fieldset>

			<div formGroupName="attributes" fxFlex fxLayout="column">
				<button mat-button mat-raised-button flex="0 0 100%" (click)="addPolygonCoord()" type="button"
					color="primary">Add Geofence Coordinates</button>
				<div id="scrollableCoords" flex="none" formArrayName="geofence">
					<div fxFlex fxLayout="row" fxLayoutGap="8px"
						*ngFor="let coordPairArray of editDeviceFormGroup.get('attributes.geofence').controls; let i=index;">
						<span class="coordLabel">Coord {{i + 1}}: </span>
						<mat-form-field fxFlex class="mat-block">
							<mat-label>Latitude</mat-label>
							<input matInput type="number" step="any" name="latitude"
								[formControl]="coordPairArray.controls[0]">
						</mat-form-field>
						<mat-form-field fxFlex class="mat-block">
							<mat-label>Longitude</mat-label>
							<input matInput type="number" step="any" name="longitude"
								[formControl]="coordPairArray.controls[1]">
						</mat-form-field>
						<button mat-button flex="none" (click)="removePolygonCoord(i)" class="removeCoordBtn"
							color="primary"><i class="material-icons"
								style="margin: auto;display: block;">close</i></button>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
	<div mat-dialog-actions fxLayout="row">
		<span fxFlex></span>
		<button mat-button mat-raised-button color="primary" type="submit"
			[disabled]="loading || (isLoading$ | async) || editDeviceForm.invalid || !editDeviceForm.dirty">
			Save
		</button>
		<button mat-button color="primary" style="margin-right: 20px;" type="button" [disabled]="(isLoading$ | async)"
			(click)="cancel()" cdkFocusInitial>
			Cancel
		</button>
	</div>
</form>


let $injector = widgetContext.$scope.$injector;
let customDialog = $injector.get(widgetContext.servicesMap.get('customDialog'));
let deviceService = $injector.get(widgetContext.servicesMap.get('deviceService'));
let attributeService = $injector.get(widgetContext.servicesMap.get('attributeService'));
let entityRelationService = $injector.get(widgetContext.servicesMap.get('entityRelationService'));
let entityGroupService = $injector.get(widgetContext.servicesMap.get('entityGroupService'));
let assetService = $injector.get(widgetContext.servicesMap.get('assetService'));
let customerService = $injector.get(widgetContext.servicesMap.get('customerService'));
let http = $injector.get(widgetContext.servicesMap.get('http'));

openEditDeviceDialog();

function openEditDeviceDialog() {
let allowedAccess = true;

http.get("/api/permissions/allowedPermissions").subscribe((res)=>{
var required = {
genericPermissions:{
ASSET: ["CREATE", "WRITE", "WRITE_ATTRIBUTES"],
ASSET_GROUP: ["READ", "ADD_TO_GROUP"]
}
};
var givenPermissions = res.userPermissions.genericPermissions;
if(!(givenPermissions["ALL"] && givenPermissions["ALL"].includes("ALL"))){
for(let key in required.genericPermissions){
var requiredPermissions = required.genericPermissions[key];
if (givenPermissions[key] && givenPermissions[key].includes("ALL")){
continue;
}
for (let permission of requiredPermissions) {
if((givenPermissions[key] && givenPermissions[key].includes(permission)) || (givenPermissions['ALL'] &&
givenPermissions['ALL'].includes(permission))){
continue;
}
if (!givenPermissions[key] || !givenPermissions[key].includes(permission))
{
widgetContext.showWarnToast("Sorry, cannot access the dialog. Please contact system administrator.");
allowedAccess = false;
break;
}
}
if (!allowedAccess) {
break;
}
}
}

if(allowedAccess){
customDialog.customDialog(htmlTemplate, EditDeviceDialogController).subscribe();
}
});
}

function EditDeviceDialogController(instance) {
let vm = instance;
vm.loading = false;
vm.customers = [];

vm.attributes = {};
vm.allowedEntityTypes = {asset:"ASSET", device:"DEVICE"};
vm.entityType = vm.allowedEntityTypes.asset;
vm.entitySubtype = "Site";
vm.entityGroup = (vm.entitySubtype == "speedZone")?"speed zones" :
(vm.entitySubtype == "Site")?"sites": "";

vm.editDeviceFormGroup = vm.fb.group({
customer: [null, [vm.validators.required]],
entityName: [null, [vm.validators.required]],
entityLabel: [null],
attributes: vm.fb.group({
latitude: [null],
longitude: [null],
contactName: [null],
contactEmail: [null],
contactPhone: [null],
address: [null],
speedLimit: [null],
siteMapUrl: [null],
email: [null],
phone: [null],
emailEntryExitEnabled: [false],
emailSpeedEnabled: [false],
phoneEntryExitEnabled: [false],
phoneSpeedEnabled: [false],
geofence: vm.fb.array([])
}),
});

vm.addPolygonCoord = () => {
vm.editDeviceFormGroup.get("attributes").controls.geofence.push(vm.fb.array([0,0]));
vm.editDeviceFormGroup.markAsDirty();
};

vm.removePolygonCoord = (index) => {
vm.editDeviceFormGroup.get("attributes").controls.geofence.removeAt(index);
vm.editDeviceFormGroup.markAsDirty();
};

getCustomerOptions();

function getCustomerOptions() {
http.get("/api/permissions/allowedPermissions").subscribe((res) => {
//Owner API query based on the entityType of current user (either a Tenant or a Customer)
if (res.userOwnerId.entityType == "TENANT"){
//let ownerObservable = http.get(`/api/tenant/${res.userOwnerId.id}`);
let customerObservable = customerService.getCustomers({toQuery:function(){return "?pageSize=100&page=0";}});
let ownerObservable = widgetContext.rxjs.of([]);
widgetContext.rxjs.forkJoin([
ownerObservable,
customerObservable
]).subscribe((data)=>{
if (data[1]){
var subcustomers = data[1].data;
vm.customers = subcustomers;
}

//var ownerRes = data[0];
//if (ownerRes) {
// vm.customers.push(ownerRes);
//}
});
} else {
customerService.getCustomersByIds([res.userOwnerId.id]).subscribe((data)=>{
var ownerRes = data[0];
if (ownerRes) {
vm.customers.push(ownerRes);
}
});
}
});
}


vm.compareObjects = (o1, o2) => {
return ((o1)?(o1?.id?.id == o2?.id?.id) : (o1==o2));
};

vm.displayCustomerFn = function(customer) {
return (customer)?customer.title:"";
}

vm.onCustomerChange = function() {

}

vm.save = () => {
vm.loading = true;

vm.editDeviceFormGroup.markAsPristine();
saveEntityObservable().subscribe(
(entity) => {
widgetContext.rxjs.forkJoin([
saveGroup(),
saveAttributes(entity.id)
]).subscribe((res)=>{
let finishCallback = function(){
widgetContext.updateAliases();
vm.dialogRef.close(null);
}

var groupRes = res[0];
var groupId = groupRes.find((group)=>{return group.name==vm.entityGroup})?.id?.id;
if (groupId) {
entityGroupService.addEntityToEntityGroup(groupId, entity.id.id).subscribe(()=> {
finishCallback();
});
} else {
widgetContext.showInfoToast("Group '" + vm.entityGroup + "' not found. Saving under 'All'.");
finishCallback();
}
});
}
);
}

function saveEntityObservable() {
var entity = {
'name':vm.editDeviceFormGroup.get("entityName").value,
'label':vm.editDeviceFormGroup.get("entityLabel").value,
'type':vm.entitySubtype
};
let ownerId = vm.editDeviceFormGroup.get("customer").value.id;
if (ownerId.entityType == "TENANT") {
entity['ownerId'] = ownerId;
entity['tenantId'] = ownerId;
} else {
entity['customerId'] = ownerId;
}
if (vm.entityType == vm.allowedEntityTypes.asset) {
return assetService.saveAsset(entity);
} else if (vm.entityType == vm.allowedEntityTypes.device) {
return deviceService.saveDevice(entity);
}
}


vm.cancel = function() {
vm.dialogRef.close(null);
}

function saveGroup() {
var customerId = vm.editDeviceFormGroup.get("customer").value.id.id;
return entityGroupService.getEntityGroupsByOwnerId("CUSTOMER", customerId,"ASSET");
}

function saveAttributes(assetId) {
let attributes = vm.editDeviceFormGroup.get('attributes').value;
attributes.geofence = JSON.stringify(attributes.geofence);
let attributesArray = [];
for (let key in attributes) {
attributesArray.push({key: key, value: attributes[key]});
}

if (attributesArray.length > 0) {
return attributeService.saveEntityAttributes(assetId, "SERVER_SCOPE", attributesArray);
} else {
return widgetContext.rxjs.of([]);
}
}
}