#scrollableCoords {
    height: 300px;
    overflow: auto;
    background-color: white;
	margin-top: 10px;
}

#fieldsetId .mat-form-field-infix {
	width:auto;
}

.boolean-value-input {
	margin-bottom: 8px;
}

.mat-dialog-content, fieldset {
	padding-top: 0px;
}

.notifications{
	border-width: 2px;
	border-style: groove;
	border-color: threedface;
	border-radius: 10px;
	padding: 20px;
    margin-bottom: 20px;
}

.notifications_legend{
	margin-left: 10px;
}

<form #editDeviceForm="ngForm" [formGroup]="editDeviceFormGroup"
      (ngSubmit)="save()" style="width: 480px;">
  <mat-toolbar fxLayout="row" color="primary">
    <h2>Edit Charger {{entity.label}}</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="(isLoading$ | async) || loading">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async) && !loading"></div>
  <div id="mat-dialog-content" mat-dialog-content>
			<fieldset id="fieldsetId" [disabled]="(isLoading$ | async) || loading" class="mat-padding">
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block">
							<mat-label>Organization</mat-label>
							<input matInput formControlName="customer"
								   [matAutocomplete]="autoCustomer" required>
								<mat-error *ngIf="editDeviceFormGroup.get('customer').hasError('required')">
									Organization is required.
								</mat-error>
							<mat-autocomplete #autoCustomer="matAutocomplete" [displayWith]="displayCustomerFn" >
								<mat-option *ngFor="let customer of customers" [value]="customer">
								{{customer.title}}
								</mat-option>
							</mat-autocomplete>
					</mat-form-field>
					
					<mat-form-field formGroupName="sharedAttributes" fxFlex="50" class="mat-block">
						<mat-label>Manufacturer ID</mat-label>
						<input matInput formControlName="manufacturerId" required (keyup)="onManufacturerIdKeyUp()">
							<mat-error *ngIf="editDeviceFormGroup.get('sharedAttributes').get('manufacturerId').hasError('required')">
								Manufacturer ID is required.
							</mat-error>
					</mat-form-field>
				</div>
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Device Name</mat-label>
						<input matInput formControlName="deviceName" required>
						<mat-error *ngIf="editDeviceFormGroup.get('deviceName').hasError('required')">
							Device Name is required.
						</mat-error>
					</mat-form-field>
					
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Charger description</mat-label>
						<input matInput formControlName="deviceLabel" required maxlength="25">
						<mat-error *ngIf="editDeviceFormGroup.get('deviceLabel').hasError('required')">
							Charger description is required.
						</mat-error>
					</mat-form-field>
				</div>
				
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<tb-entity-subtype-autocomplete
						fxFlex="50"
						formControlName="deviceType"
						[required]="true"
						[entityType]="'DEVICE'"
					></tb-entity-subtype-autocomplete>
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Device Group</mat-label>
						<input matInput formControlName="deviceGroup">
					</mat-form-field>
				</div>
				
				<div formGroupName="sharedAttributes" fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Charger vendor name</mat-label>
						<input matInput formControlName="chargePointVendor">
					</mat-form-field>
					
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Charger model name</mat-label>
						<input matInput formControlName="chargePointModel">
					</mat-form-field>
				</div>
				
				<div formGroupName="sharedAttributes" fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Charge point serial number</mat-label>
						<input matInput formControlName="chargePointSerialNumber">
					</mat-form-field>
					<mat-form-field fxFlex="50" class="mat-block">
						<mat-label>Power capacity (kW)</mat-label>
						<input matInput type="number" step="1" formControlName="powerCapacity">
					</mat-form-field>
				</div>
				
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="50" class="mat-block" formGroupName="attributes">
						<mat-label>Node ID</mat-label>
						<input matInput formControlName="nodeId" required>
						<mat-error *ngIf="editDeviceFormGroup.get('attributes').get('nodeId').hasError('required')">
							Node ID is required.
						</mat-error>
					</mat-form-field>
					<div class="boolean-value-input" fxLayout="column" fxFlex="50"  formGroupName="sharedAttributes">
					<mat-checkbox formControlName="enabled">Enabled</mat-checkbox>
					</div>

				</div>
				
				<div fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="100" class="mat-block">
						<mat-label>Site</mat-label>
						<mat-select formControlName="site" [compareWith]="compareObjects"
						required>
							<mat-option></mat-option>
							<mat-option *ngFor="let site of sites" [value]="site">
							{{site.name}}
						  </mat-option>
						</mat-select>
						<mat-error *ngIf="editDeviceFormGroup.get('site').hasError('required')">
							Site is required.
						</mat-error>
					</mat-form-field>
					<mat-form-field fxFlex="100" class="mat-block" formGroupName="attributes">
						<mat-label>SN Charger ID</mat-label>
						<input matInput formControlName="snChargerId">
					</mat-form-field>
				</div>
				
				<div formGroupName="sharedAttributes" fxFlex fxLayout="row" fxLayoutGap="8px">
					<mat-form-field fxFlex="100" class="mat-block">
						<mat-label>Registration status</mat-label>
						<mat-select formControlName="registrationStatus" [compareWith]="compareStrings"
						required>
							<mat-option></mat-option>
							<mat-option *ngFor="let status of registrationStatusList" [value]="status">
							{{status}}
						  </mat-option>
						</mat-select>
						<mat-error *ngIf="editDeviceFormGroup.get('sharedAttributes').get('registrationStatus').hasError('required')">
							Registration status is required.
						</mat-error>
					</mat-form-field>
				</div>
			</fieldset>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button mat-button mat-raised-button color="primary"
            type="submit"
            [disabled]="loading || (isLoading$ | async) || editDeviceForm.invalid || !editDeviceForm.dirty">
      Save
    </button>
    <button mat-button color="primary"
            style="margin-right: 20px;"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      Cancel
    </button>
  </div>
</form>


let $injector = widgetContext.$scope.$injector;
let customDialog = $injector.get(widgetContext.servicesMap.get('customDialog'));
let deviceService = $injector.get(widgetContext.servicesMap.get('deviceService'));
let attributeService = $injector.get(widgetContext.servicesMap.get('attributeService'));
let entityRelationService = $injector.get(widgetContext.servicesMap.get('entityRelationService'));
let assetService = $injector.get(widgetContext.servicesMap.get('assetService'));
let customerService = $injector.get(widgetContext.servicesMap.get('customerService'));
let entityService = $injector.get(widgetContext.servicesMap.get('entityService'));
let http = $injector.get(widgetContext.servicesMap.get('http'));

openEditDeviceDialog();

function openEditDeviceDialog() {
    customDialog.customDialog(htmlTemplate, EditDeviceDialogController).subscribe();
}

function EditDeviceDialogController(instance) {
    let vm = instance;
    vm.loading = false;
	vm.allowedEntityTypes = ["ASSET", "DEVICE"];
	vm.relations = [];
	vm.sites = [];
	vm.registrationStatusList = ['Unknown',  'Pending', 'Accepted', 'Rejected'];
	vm.customers = [];
	vm.deviceType = 'evcharger';
	vm.entityType = "DEVICE";
	
	vm.oldSite;
	vm.newRelations = [];
	vm.relationsToDelete = [];
	vm.entity = {label:""};
	getEntityInfo();
	
	vm.editDeviceFormGroup = vm.fb.group({
	  customer: [{value:null, disabled:true}, [vm.validators.required]],
      deviceName: [{value:null, disabled:true}, [vm.validators.required]],
      deviceLabel: [null, [vm.validators.required]],
	  deviceType: [{value:vm.deviceType, disabled:true}],
	  deviceGroup: [{value:'evchargers', disabled:true}],
	  site: [{value:null, disabled:true}, [vm.validators.required]],
      attributes: vm.fb.group({
		  relatedSiteName: ["null"],
		  nodeId: [{value:null, disabled:true}],
		  snChargerId: [{value:null, disabled:true}],
      }),
	  sharedAttributes: vm.fb.group({
		manufacturerId: [null, [vm.validators.required]],
		chargePointVendor: [null],
		chargePointModel: [null],
		chargePointSerialNumber: [null],
		powerCapacity: [null],
		enabled: [null],
		registrationStatus: [{value:null, disabled:true}, [vm.validators.required]],
      })
    });
	
	vm.device = null;
	
	function getCustomerOptions() {
		return http.get("/api/permissions/allowedPermissions");
    }
	
	vm.compareObjects = (o1, o2) => {
		return ((o1)?(o1?.id?.id == o2?.id?.id) : (o1==o2));
	};
	
	vm.compareStrings = (o1, o2) => {
		return (o1 == o2);
	};
    
	vm.displayCustomerFn = function(customer) {
		return (customer)?customer.title:"";
	}
	
	vm.onManufacturerIdKeyUp = function() {
		if (vm.editDeviceFormGroup) {
			var manufacturerId = 			vm.editDeviceFormGroup.get("sharedAttributes").get("manufacturerId").value;
			var customer = vm.editDeviceFormGroup.get("customer").value;
			var newDeviceName = !!manufacturerId && !!customer
				? customer.title + '_' + manufacturerId
				: '';
			vm.editDeviceFormGroup.patchValue({deviceName:newDeviceName});
		}
    }
    vm.onManufacturerIdKeyUp();
    
	/*vm.onCustomerChange = function() {
        vm.onManufacturerIdKeyUp();
		var customer = vm.editDeviceFormGroup.get("customer").value;
		if (customer) {
			assetService.getCustomerAssets(customer.id.id, {toQuery:function(){return "?pageSize=100&page=0";}}, 'Site').subscribe(
				(data) => {
					vm.sites = data.data;
				}
			);
		} else {
			vm.sites = [];
			vm.editDeviceFormGroup.patchValue({site:null});
		}
    }*/
	
	function getEntityInfo() {
        entityService.getEntity(entityId.entityType, entityId.id).subscribe(
            function(entity) {
                vm.entity = entity;
				vm.editDeviceFormGroup.patchValue(
					{
						deviceName: vm.entity.name,
						deviceType: vm.entity.type,
						deviceLabel: vm.entity.label
					}, {emitEvent: false}
				);
            });
        attributeService.getEntityAttributes(entityId, 'SERVER_SCOPE').subscribe(function(data){
                if (data.length) {
                    getEntityAttributes(data);
                }
        });
        attributeService.getEntityAttributes(entityId, 'SHARED_SCOPE').subscribe(function(data){
                if (data.length) {
                    getEntitySharedAttributes(data);
                }
        });
        widgetContext.rxjs.forkJoin([
		entityRelationService.findInfoByFrom({id:entityId.id, entityType:entityId.entityType}), entityRelationService.findInfoByTo({id:entityId.id, entityType:entityId.entityType})])
        .subscribe(function(relations){
			getCustomerOptions().subscribe((res) => {
				let callback = (relations)=>{		
					getEntityRelations(relations);
					getCustomerSites();
				};
				if (res.userOwnerId.entityType == "TENANT"){
					customerService.getCustomers({toQuery:function(){return "?pageSize=100&page=0";}}).subscribe(
					(data) => {
						vm.customers = data.data;
						callback(relations);
					});
				} else {
					customerService.getCustomersByIds([res.userOwnerId.id]).subscribe((res)=> {
						vm.customers.push(res[0]);
						callback(relations);
					});
				}
			 });
        });
    }
	
	function getEntityAttributes(attributes) {
		var formAttributes = {};
		for (let i = 0; i < attributes.length; i++) {
			formAttributes[attributes[i].key] = attributes[i].value; 
		}
		vm.editDeviceFormGroup.get("attributes").patchValue(formAttributes);
    }
	
    function getEntitySharedAttributes(attributes) {
		var formAttributes = {};
		for (let i = 0; i < attributes.length; i++) {
			formAttributes[attributes[i].key] = attributes[i].value; 
		}
		vm.editDeviceFormGroup.get("sharedAttributes").patchValue(formAttributes);
    }
	
	function getEntityRelations(relations) {
        var relationsFrom = relations[0];
        var relationsTo = relations[1];
        for (var i=0; i < relationsFrom.length; i++) {
            var relation = {
                direction: "FROM",
                relationType: relationsFrom[i].type,
                relatedEntity: relationsFrom[i].to
            };
            vm.relations.push(relation);
        }
        for (var i=0; i < relationsTo.length; i++) {
            var relation = {
                direction: "TO",
                relationType: relationsTo[i].type,
                relatedEntity: relationsTo[i].from
            };
            vm.relations.push(relation);
			
			if (relation.relationType === 'belongs to' 
						&& relation.relatedEntity.entityType === "CUSTOMER") {
				var customerToSelect = relation.relatedEntity;
				//Reset customer variable
				for (var j = 0; j < vm.customers.length; j++) {
					var customer = vm.customers[j];
					if (customer.id.id === customerToSelect.id) {
						//Reason for resetting customer: the value for customer is initially taken from 'belongs to' relation.relatedEntity which is a truncated version of a real customer object data (such as when vm.customers is populated in vm.getCustomerOptions), same with site object.
						vm.editDeviceFormGroup.patchValue({customer:customer});
					}
				}
			} else if (relation.relationType === 'located at' 
					&& relation.relatedEntity.entityType === "ASSET") {
				vm.editDeviceFormGroup.patchValue({site:relation.relatedEntity});
			}
        }
    }
	
	function getCustomerSites() {
		var customer = vm.editDeviceFormGroup.get("customer").value;
		if (customer) {
			assetService.getCustomerAssets(customer.id.id, {toQuery:function(){return "?pageSize=100&page=0";}}, 'Site').subscribe(
				(data) => {
					vm.sites = data.data;
					var selectedSite = vm.editDeviceFormGroup.get("site").value;
					if (selectedSite) {
						//Reset site
						for (var i = 0; i < vm.sites.length; i++) {
							var site = vm.sites[i];
							if (site.id.id === selectedSite.id) {
								//Reason for resetting site: the value for site is initially taken from 'located at' relation.relatedEntity which is a truncated version of a real site object data (such as when vm.sites is populated in vm.onCustomerChange), same with customer object.
								vm.editDeviceFormGroup.patchValue({site:site});
								vm.oldSite = site;
							}
						}
					}
				}
			);
		} else {
			vm.sites = [];
			vm.editDeviceFormGroup.patchValue({site:null})
		}
    }
	
	vm.cancel = function() {
        vm.dialogRef.close(null);
    };
	
    vm.save = () => {
		vm.loading = true;

		vm.editDeviceFormGroup.markAsPristine();
		saveEntityObservable().subscribe(
            (entity) => {
				widgetContext.rxjs.forkJoin([
					saveAttributes(entity.id),
					saveSharedAttributes(entity.id),
					saveRelations(entity.id)
				]).subscribe((res)=>{
					// On saveRelations complete
					vm.relations = vm.relations.concat(vm.newRelations);
					vm.newRelations = [];
					vm.relationsToDelete = [];
					//widgetContext.updateAliases();
					
					// After forkJoin
					widgetContext.updateAliases();
					vm.loading = false;
					vm.dialogRef.close(null);
				});
            }
        );
    }
	
	vm.addRelation = function() {
        var relation = {
            direction: null,
            relationType: null,
            relatedEntity: null
        };
        vm.newRelations.push(relation);
        vm.editDeviceFormGroup.setDirty();
    };
	
	vm.removeRelation = function(index) {
        if (index > -1) {
            vm.newRelations.splice(index, 1);
            vm.editDeviceFormGroup.setDirty();
        }
    };
	
	vm.removeOldRelation = function(index, relation) {
        if (index > -1) {
            vm.relations.splice(index, 1);
            vm.relationsToDelete.push(relation);
        }
    };
	
	function saveEntityObservable() {
		vm.entity['name'] = vm.editDeviceFormGroup.get("deviceName").value;
		vm.entity['label'] = vm.editDeviceFormGroup.get("deviceLabel").value;
		
        var entity = vm.entity;
        if (vm.entityType == "ASSET") {
            return assetService.saveAsset(entity);
        } else if (vm.entityType == "DEVICE") {
            return deviceService.saveDevice(entity);
        }
    }
	
	function addRelation(direction, relationType, relatedEntity) {
        if (!!relatedEntity) {
            var relation = {
                direction: direction,
                relationType: relationType, 
                relatedEntity: relatedEntity.id
            };
            vm.newRelations.push(relation);
        }
    }
	
	function saveAttributes(entityId) {
		vm.editDeviceFormGroup.patchValue({attributes:{
			relatedSiteName: vm.editDeviceFormGroup.get('site').value.name
		}});
	
	    let attributes = vm.editDeviceFormGroup.get('attributes').value;
        let attributesArray = [];
        for (let key in attributes) {
            attributesArray.push({key: key, value: attributes[key]});
        } 
		
        if (attributesArray.length > 0) {
            return attributeService.saveEntityAttributes(entityId, "SERVER_SCOPE", attributesArray);
        }  else {
            return widgetContext.rxjs.of([]);
        }
    }
	
	function saveSharedAttributes(entityId) {
	    let attributes = vm.editDeviceFormGroup.get('sharedAttributes').value;
        let attributesArray = [];
        for (let key in attributes) {
            attributesArray.push({key: key, value: attributes[key]});
        } 
		
        if (attributesArray.length > 0) {
            return attributeService.saveEntityAttributes(entityId, "SHARED_SCOPE", attributesArray);
        }  else {
            return widgetContext.rxjs.of([]);
        }
    }
	
	function updateSiteRelation(){
		var selectedSite = vm.editDeviceFormGroup.get("site").value;
        if (selectedSite !== vm.oldSite) {
            console.log("relations: ");
            console.log(vm.relations);
            console.log("old site: ");
            console.log(vm.oldSite);
			if(vm.oldSite) {
				for (var i = 0; i < vm.relations.length; i++) {
					if (vm.relations[i].relatedEntity.id === vm.oldSite.id.id) {
						vm.removeOldRelation(i, vm.relations[i]);
						break;
					}
				} 
			}
            addRelation(
                "TO",
                'located at',
                selectedSite
            );
        }
    }
	
	
	function saveRelations(entityId) {
	    updateSiteRelation();
        var tasks = [];
        for (var i=0; i < vm.newRelations.length; i++) {
            var relation = {
                type: vm.newRelations[i].relationType
            };
            if (vm.newRelations[i].direction == "FROM") {
                relation.to = vm.newRelations[i].relatedEntity;
                relation.from = entityId;
            } else {
                relation.to = entityId;
                relation.from = vm.newRelations[i].relatedEntity;
            }
            tasks.push(entityRelationService.saveRelation(relation));
        }
		
		for (var i=0; i < vm.relationsToDelete.length; i++) {
            var relation = {
                type: vm.relationsToDelete[i].relationType
            };
            if (vm.relationsToDelete[i].direction == "FROM") {
                relation.to = vm.relationsToDelete[i].relatedEntity;
                relation.from = entityId;
            } else {
                relation.to = entityId;
                relation.from = vm.relationsToDelete[i].relatedEntity;
            }
            tasks.push(entityRelationService.deleteRelation({id:relation.from.id, entityType:relation.from.entityType}, relation.type, {id:relation.to.id, entityType:relation.to.entityType}));
        }
		if (tasks.length > 0) {
			return widgetContext.rxjs.forkJoin(tasks);
		} else {
			return widgetContext.rxjs.of([]);
		}
    }
}
