https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js

#fieldsetId .mat-form-field-infix {
	width:auto;
}


<form #editDeviceForm="ngForm" [formGroup]="editDeviceFormGroup"
      (ngSubmit)="save()" style="width: 480px;">
  <mat-toolbar fxLayout="row" color="primary">
    <h2>Edit device</h2>
    <span fxFlex></span>
    <button mat-button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="(isLoading$ | async) || loading">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="!(isLoading$ | async) && !loading"></div>
  <div mat-dialog-content>
			  <fieldset id="fieldsetId" [disabled]="(isLoading$ | async) || loading" class="mat-padding">
					<div fxFlex fxLayout="row" fxLayoutGap="8px">
						<mat-form-field fxFlex class="mat-block">
							<mat-label>Device name</mat-label>
							<input matInput formControlName="deviceName" required>
							<mat-error *ngIf="editDeviceFormGroup.get('deviceName').hasError('required')">
								Device name is required.
							</mat-error>
						</mat-form-field>
						<tb-entity-subtype-autocomplete
							fxFlex
							formControlName="deviceType"
							[required]="true"
							[entityType]="'DEVICE'"
						></tb-entity-subtype-autocomplete>
						
						<!--<mat-form-field fxFlex class="mat-block">
							<mat-label>Name</mat-label>
							<input matInput formControlName="deviceGroup"
								   [matAutocomplete]="auto" required>
								<mat-error *ngIf="editDeviceFormGroup.get('deviceGroup').hasError('required')">
									Device group name is required.
								</mat-error>
							<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayGroupFn" >
								<mat-option *ngFor="let group of deviceGroups" [value]="group">
								{{group.name}}
								</mat-option>
							</mat-autocomplete>
						</mat-form-field>-->
						
						<mat-form-field fxFlex class="mat-block">
							<mat-label>Group</mat-label>
							<mat-select formControlName="deviceGroup"  [compareWith]="compareObjects" required>
								<!--There should always be default ALL group that the object belongs to, hence no null group options-->
								<mat-option *ngFor="let group of deviceGroups" [value]="group">
								{{group.name}}
							  </mat-option>
							</mat-select>
							<mat-error *ngIf="editDeviceFormGroup.get('deviceGroup').hasError('required')">
										Device group is required.
									</mat-error>
						</mat-form-field>
					</div>
					<div fxFlex fxLayout="row" fxLayoutGap="8px">
						<mat-form-field fxFlex="50" class="mat-block">
							<mat-label>Device Label</mat-label>
							<input matInput formControlName="deviceLabel">
						</mat-form-field>
						<mat-form-field fxFlex="50" class="mat-block">
							<mat-label>Vehicle Depot</mat-label>
							<mat-select
							 [compareWith]="compareObjects"
							formControlName="deviceDepotObj">
									<mat-option></mat-option>
									<mat-option [value]="depot" *ngFor="let depot of depots">{{ depot.name }}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					
					<div formGroupName="attributes" fxFlex fxLayout="row" fxLayoutGap="8px">
						<mat-form-field fxFlex="50" class="mat-block">
							<mat-label>Battery Capacity kWh</mat-label>
							<input type="number" step="any" matInput formControlName="bat_1_batCapacity">
						</mat-form-field>
						<mat-form-field fxFlex="50" class="mat-block">
							<mat-label>Vehicle default speed km/</mat-label>
							<input type="number" step="any" matInput formControlName="veh_1_defaultSpeed">
						</mat-form-field>
					</div>
				</fieldset>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <span fxFlex></span>
    <button mat-button mat-raised-button color="primary"
            type="submit"
            [disabled]="loading || (isLoading$ | async) || editDeviceForm.invalid || !editDeviceForm.dirty">
      Update
    </button>
    <button mat-button color="primary"
            style="margin-right: 20px;"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      Cancel
    </button>
  </div>
</form>
  
  
let $injector = widgetContext.$scope.$injector;
let customDialog = $injector.get(widgetContext.servicesMap.get('customDialog'));
let deviceService = $injector.get(widgetContext.servicesMap.get('deviceService'));
let attributeService = $injector.get(widgetContext.servicesMap.get('attributeService'));
let entityRelationService = $injector.get(widgetContext.servicesMap.get('entityRelationService'));
let entityGroupService = $injector.get(widgetContext.servicesMap.get('entityGroupService'));
let assetService = $injector.get(widgetContext.servicesMap.get('assetService'));

openEditDeviceDialog();

function openEditDeviceDialog() {
	let allowedAccess = true;
	
	http.get("/api/permissions/allowedPermissions").subscribe((res)=>{
		var required = {
			genericPermissions:{
				DEVICE: ["READ", "READ_ATTRIBUTES", "WRITE", "WRITE_ATTRIBUTES"]
			}
		};
		var givenPermissions = res.userPermissions.genericPermissions;
		
		for(let key in required.genericPermissions){
			var requiredPermissions = required.genericPermissions[key];
			for (let permission of requiredPermissions) {
				if (!givenPermissions[key] || !givenPermissions[key].includes(permission))
				{
						widgetContext.showWarnToast("Sorry, cannot access the dialog. Please contact system administrator.");
						allowedAccess = false;
						break;
				}
			}
			if (!allowedAccess) {
				break;
			}
		}
		if(allowedAccess){
		    customDialog.customDialog(htmlTemplate, EditDeviceDialogController).subscribe();
		}
	});
}


function EditDeviceDialogController(instance) {
    let vm = instance;
    vm.loading = false;
	
    vm.device = null;
	vm.deviceGroups = [];
	vm.depotRelation = {from:{}};
    vm.prevDepotRelation = {from:{}};
	vm.targetGroup = {};
	
	vm.displayGroupFn = function(group) {
		return (group)?group.name:"";
	}
	vm.compareObjects = (o1, o2) => {
		return ((o1)?(o1?.id?.id == o2?.id?.id) : (o1==o2));
	};
    
    vm.editDeviceFormGroup = vm.fb.group({
      deviceName: [{value:null, disabled:true}, [vm.validators.required]],
      deviceType: [{value:null, disabled:true}, [vm.validators.required]],
      deviceLabel: [null],
	  deviceGroup: [{value:null, disabled:true}, [vm.validators.required]],
	  deviceDepotObj: [null],
      attributes: vm.fb.group({
		  relatedSiteName: ["null"],
		  veh_1_defaultSpeed: [null],
		  bat_1_batCapacity: [null]
      })      
    });
    
    vm.cancel = function() {
        vm.dialogRef.close(null);
    };
    
    vm.save = function() {
		vm.loading = true;

		vm.editDeviceFormGroup.markAsPristine();
		vm.depotRelation.from.id = vm.editDeviceFormGroup.get("deviceDepotObj").value?.id?.id;
		vm.targetGroup.id.id = vm.editDeviceFormGroup.get("deviceGroup").value?.id?.id;
		
        vm.device.name = vm.editDeviceFormGroup.get('deviceName').value;
        vm.device.type = vm.editDeviceFormGroup.get('deviceType').value;
        vm.device.label = vm.editDeviceFormGroup.get('deviceLabel').value;
        deviceService.saveDevice(vm.device).subscribe(
            function () {
                saveAttributes().subscribe(
                    function () {
					
						if (vm.prevTargetGroup.id.id == vm.targetGroup.id.id) {
                            widgetContext.updateAliases();
                            vm.loading = false;
                            vm.dialogRef.close(null);
                        } else {
                            let groupAll = vm.deviceGroups.filter(group => group.groupAll === true)[0];
                            if (vm.prevTargetGroup.id.id == groupAll.id.id) {
                                entityGroupService.addEntityToEntityGroup(vm.targetGroup.id.id, vm.device.id.id).subscribe(
                                    () => {
                                        widgetContext.updateAliases();
                                        vm.loading = false;
                                        vm.dialogRef.close(null);
                                    }
                                )
                            } else {
                                entityGroupService.removeEntityFromEntityGroup(vm.prevTargetGroup.id.id, vm.device.id.id).subscribe(
                                    () => {
                                        let addGroupPromise = (vm.targetGroup.id.id != groupAll.id.id) ? entityGroupService.addEntityToEntityGroup(vm.targetGroup.id.id, vm.device.id.id).toPromise() : Promise.resolve([]);
                                        addGroupPromise.then(
                                            () => {
                                                widgetContext.updateAliases();
                                                vm.loading = false;
                                                vm.dialogRef.close(null);
                                            }
                                        );
                                    }
                                )
                            }
                        }
                        if (!!vm.prevDepotRelation.from.id
                                && vm.depotRelation.from.id !== vm.prevDepotRelation.from.id) {
                            entityRelationService.deleteRelation(
                                vm.prevDepotRelation.from,
                                vm.prevDepotRelation.type, 
                                vm.prevDepotRelation.to).toPromise();
                        }
                        if (!!vm.depotRelation.from.id) {
                            vm.depotRelation.from.entityType = 'ASSET';
                            vm.depotRelation.to = {id: entityId.id, entityType: 'DEVICE'};
                            vm.depotRelation.type = 'Includes';
							vm.depotRelation.typeGroup = 'COMMON';
                            entityRelationService.saveRelation(vm.depotRelation).toPromise();
                        }
                    }
                );
            },
            () => {
                vm.loading = false;
            }
        );
    };
    
    getEntityInfo();

    function getEntityInfo() {
		vm.loading = true;
        deviceService.getDevice(entityId.id).subscribe(
            function (device) {
                attributeService.getEntityAttributes(entityId, 'SERVER_SCOPE').subscribe(
						function (attributes) {
													entityGroupService.getEntityGroupIdsForEntityId(entityId.entityType, entityId.id).subscribe(
								(deviceGroupIds) => {
									let ids = [];
									deviceGroupIds.forEach((groupId) => {
										ids.push(groupId.id);
									});
									entityGroupService.getEntityGroupsByIds(ids).subscribe(
										(deviceGroups) => {
											vm.deviceGroups = deviceGroups;
											let nonAllResult = deviceGroups.filter(group => group.groupAll === false);
											vm.targetGroup = _.cloneDeep((nonAllResult.length) ? nonAllResult[0] : deviceGroups[0]);
											vm.prevTargetGroup =  _.cloneDeep(vm.targetGroup);
											vm.device = device;
											if (attributes.length) {
												getEntityAttributes(attributes);
													vm.editDeviceFormGroup.patchValue(
													{
														deviceName: vm.device.name,
														deviceType: vm.device.type,
														deviceLabel: vm.device.label,
														deviceGroup: vm.targetGroup
													}, {emitEvent: false}
												);
												
												
											}
											vm.loading = false;
										}
									);
								}
							)

							//function (attributes) END
					   });
				   
			   assetService.getCustomerAssets(device.ownerId.id, {toQuery:function(){return "?pageSize=100&page=0";}}, 'Site').subscribe(
					(data) => {
						vm.depots = data.data;
					}
				);
			});
			entityRelationService.findByToAndType(entityId, 'Includes').subscribe(
				(data) => {
					if (data.length > 0) {
						vm.depotRelation = data[0];
						vm.editDeviceFormGroup.patchValue(
							{
								deviceDepotObj: {id:data[0].from} //id.id porperty access simulation necessary to match real depot objects
							}, {emitEvent: false}
						);
						vm.prevDepotRelation = _.cloneDeep(vm.depotRelation);
					}
				}
			);
        }  


    
	function getEntityAttributes(attributes) {
		var formAttributes = {};
		for (let i = 0; i < attributes.length; i++) {
			formAttributes[attributes[i].key] = attributes[i].value; 
		}
		vm.editDeviceFormGroup.patchValue({attributes:formAttributes});
	}
	
    function saveAttributes() {
		let depot = vm.editDeviceFormGroup.get('deviceDepotObj').value;
		vm.editDeviceFormGroup.patchValue({attributes:{
			relatedSiteName: (depot)?depot.name:"null"
		}});
	
        let attributes = vm.editDeviceFormGroup.get('attributes').value;
        let attributesArray = [];
        for (let key in attributes) {
            attributesArray.push({key: key, value: attributes[key]});
        }
		
		return attributeService.saveEntityAttributes(entityId, 'SERVER_SCOPE', attributesArray);
    }
}



